@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap');

@import './Home.scss';

@import '../components/Buttons/Buttons.scss';
@import '../components/Card/Card.scss';

@import '../containers/About/About.scss';
@import '../containers/LandingPage/LandingPage.scss';
@import '../containers/Services/Services.scss';
@import '../containers/Testimonials/Testimonials.scss';
@import '../containers/Blog/Blog.scss';

@import '../layouts/Footer/Footer.scss';
@import '../layouts/Navbar/Navbar.scss';
@import '../layouts/Wrapper/Wrapper.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-primary: 10 38 64;
    --color-secondary: 105 230 166;
  }

  html {
    @apply box-border;
  }

  body {
    @apply min-h-screen;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply p-0 m-0 scroll-smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
